{% extends 'base.html' %}

{% block content %}

<div class="container">

  <div class="d-flex flex-column">
    <p class="m-auto p-2">
      Мы отправили вам инструкции для смены пароля в письме по электронной почте.
      Вы должны получить его в ближайшее время.
    </p>
    <p class="m-auto p-2">
      Если вы не получили письмо, убедитесь, что вы ввели адрес, на который зарегистрирован аккаунт,
      а также проверьте папку со спамом.
    </p>
    <p class="m-auto p-2"><a href="{% url 'journal:index' %}">Вернуться на Главную страницу</a></p>
  </div>
</div>

{% endblock %}