{% extends "base.html" %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Испытание: {{ topic }}</h1>
  <div class="container">
    <ul>
        {% for record in records %}
            <li class="lead">{{ record.date_added|date:"M d, Y" }} : {{ record }} </li>
            <p>{{ record.image }}</p>
            <p>{{ record.comment }}</p>
            <p>
                <a href="{% url 'journal:edit' record.id %}">Редактировать</a>
                <a href="{% url 'journal:delete' record.id %}">Удалить</a>
            </p>
        {% empty %}
            <p class="lead">Ни одной записи ещё не было добавлено.</p>
        {% endfor %}
    </ul>
  </div>
</div>
<p></p>

{% endblock content %}